@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <MatThemeProvider Theme="@theme">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <MatButton OnClick="Logout" Label="Log Out"></MatButton>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
        <MatToastContainer />
    </MatThemeProvider>
</div>

@code{
    MatTheme theme = new MatTheme()
    {
        Primary = "green",
        Secondary = "orange"
    };
    void Logout()
    {
        GlobalLoginState.LoggedCreatorID = -1;
        GlobalLoginState.LoggedParticipantID = -1;
        NavigationManager.NavigateTo("/");
    }
}
